html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}


section {
    display: flex;
    justify-content: center;
    align-items:center;
    overflow:hidden;
    height: 100vh;
    width: 100vw;
}

.card {
    width: 17rem;
    height: 30rem;
    border: solid burlywood 0.2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    background-color: beige;
    overflow: hidden;
}

.card img {
    height: 20rem;
    width: 16.5rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.card-body {
    text-align: center;
}

.card-body input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

button {
    margin-bottom: 1rem;
}

.text {
    padding-left: 2rem;
}

#btnColor {
    height: 1rem;
    background-color: white;
}


.amount {
    display: flex;
}

.amount p {
    margin-right: 0.3rem;
}


.total {
    display: flex;
}

.total p {
    margin-right: 0.3rem;
}

